*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 252, 252);
}

.heade-container{
    border: 2px solid;
}

header{
    background-color: rgb(138, 0, 0);
    text-align: center;
    color: white;
    padding: 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: 100%;

    -webkit-box-shadow: 0px -14px 29px 11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -14px 29px 11px rgba(0,0,0,0.75);
box-shadow: 0px -14px 29px 11px rgba(0,0,0,0.75);
}

.lista-cadastro{
    margin: 40px auto;
    display: flex;
    padding: 0 20px;
    width: 80%;
}

.lista-cadastro input[type="text"], input[type="number"]{
    flex: 1;
    width: 10%;
    height: 40px;
    padding-left: 1.2em;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 5px;
}

.lista-cadastro input[type="submit"]{
    font-size: 40px;
    color: white;
    border: none;
    border-radius: 500px;
    width: 50px;
    border-bottom: 4px solid rgb(73, 16, 2);
    background-color:rgb(232, 51, 51);
    cursor: pointer;
    transition: 0.1s ease-in-out;
    margin-left: 10px;
}

.lista-cadastro input[type="submit"]:hover{
    scale: 1.1;
}

.lista-cadastro input[type="submit"]:active{
   transform: translatey(4px)
}

.lista-produtos{
    transition: 1s ease-in-out;
}

.lista-produtos-single{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    margin: 0 auto;
    background-color: #dcdcdc;
    border-radius: 10px;
    padding: 15px 10px;
    width: 70%;
    transition: 1s ease-in-out;
}

.lista-produtos-single h3{
    flex: 1;
    padding: 0 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.price-product{
text-align: right;
font-size: 17px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3.price-product span{
    background-color: rgb(199, 0, 0);
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
}

.soma-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 14px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
    min-width: fit-content;
    width:  20%;
    padding: 20px;
    background-color: #dcdcdc;
    border-radius: 6px;
    font-size: 14px;
   
    -webkit-box-shadow: 0px 7px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 20px -4px rgba(0,0,0,0.75);
}

.soma-produto h1{
    color: #4d4d4d;
    font-size: 18px;
}
.soma-produto h2{
    color: #000000;
    font-size: 18px;
}

.clear-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.clear-container button{
    padding: 5px 15px;
    font-size: 20px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(155, 2, 2);
    border-bottom: 4px solid rgb(95, 0, 0);
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.clear-container button:hover{
    scale: 1.1;
}

.clear-container button:active{
    transform: translatey(4px);
        scale: 1.1;
}

.clear-container button img{
    width: 40px;
    
}

.animation-teste{
    background-color: green;
    scale: 1.5;
}

/* Animations (not mine) */
.scale-in-ver-top {
	-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-23 11:36:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }

  .scale-out-top {
	-webkit-animation: scale-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-23 11:48:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-top {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-out-top {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  
  
  
